.code-editor-block > .code-editor-wrapper {
  margin-bottom: 2rem;
}

.details__input {
  margin-bottom: 1rem;
}

.details__textarea {
  height: initial;
  resize: none;

  margin-bottom: 2.5rem;
}

.customization input[type="color"] {
  background: rgba(196, 196, 196, 0.01);
  width: 100%;
  border-radius: 8px;
  border-image-width: 0;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #FFFFFF;
  outline: 0;
  margin-bottom: 2rem;
  cursor: pointer;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border-radius: 4px;
  height: 40px;
  border: 0;
}