.project-card {
  background: rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 1.5rem;
}

.card-content h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 31px;
  margin-bottom: .5rem;
}

.card-content > p {
  font-size: 16px;
  line-height: 24px;
}

.card-actions {
  padding: 0 1.5rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
}

.action_button {
  padding: 11.25px 8px 11.25px 10px;
  border-radius: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: background-color .2s;
}

.action_button:hover {
  background: rgba(255, 255, 255, 0.08);
}

.action_button > i {
  margin-right: .625rem;
}